In [1]:
import pandas as pd

In [2]:
base = '/mnt/researchdrive/BOX_INTERNAL/opotowsky/processed_results/'
pkl = 'rxtr-type_mll_scikit_compare.pkl'
df1 = pd.read_pickle(base+pkl)

In [3]:
pkl = 'no-rxtr-type_mll_scikit_compare.pkl'
df2 = pd.read_pickle(base+pkl)

In [25]:
rename1 = {'knn' : 'kNN Known', 'dtree' : 'DTree Known', 'mll' : 'MLL Known'}
rename2 = {'knn' : 'kNN Unknown', 'dtree' : 'DTree Unknown', 'mll' : 'MLL Unknown'}
df1.rename(columns=rename1, inplace=True)
df2.rename(columns=rename2, inplace=True)

In [27]:
df = pd.concat([df1, df2], axis=1)

### MAE

In [28]:
algs = ['kNN Known', 'kNN Unknown', 'DTree Known', 'DTree Unknown', 'MLL Known', 'MLL Unknown']

metlist = ['MAE', 'MAE Std']
df.loc['burnup', (algs, metlist)]

Algorithm  kNN Known             kNN Unknown             DTree Known  \
Metric           MAE     MAE Std         MAE     MAE Std         MAE
RxtrType
pwr        29.920084  153.705883   29.155460  140.401308    9.940661
bwr        36.728600  193.455279   36.519477  191.664098    8.203592
phwr       11.173153   38.719796   16.340326   50.706893    0.815625

Algorithm            DTree Unknown              MLL Known              \
Metric       MAE Std           MAE    MAE Std         MAE     MAE Std
RxtrType
pwr        71.865903     12.870026  80.341649   84.295548  309.521055
bwr        67.466594      8.933005  69.495052  116.932185  350.196901
phwr       13.076900      2.372649  22.343641   20.914600   57.830051

Algorithm MLL Unknown
Metric            MAE     MAE Std
RxtrType
pwr         83.894498  295.711474
bwr        116.706794  348.068397
phwr        20.914600   57.830051

In [29]:
df.loc['cooling', (algs, metlist)]

Algorithm   kNN Known             kNN Unknown             DTree Known  \
Metric            MAE     MAE Std         MAE     MAE Std         MAE
RxtrType
pwr        132.456927  197.826779  128.049337  196.260938   33.774230
bwr        175.676383  269.301464  175.593010  267.330754   35.537672
phwr       243.181412  332.272025  311.197377  444.642356   88.864643

Algorithm             DTree Unknown              MLL Known             \
Metric        MAE Std           MAE     MAE Std        MAE    MAE Std
RxtrType
pwr         48.670103     32.235650   43.044491  35.355698  45.698831
bwr         51.865140     35.227076   49.774062  40.180991  49.631834
phwr       121.113654     73.428981  109.427809  43.341564  59.618425

Algorithm MLL Unknown
Metric            MAE    MAE Std
RxtrType
pwr         34.832462  44.723707
bwr         40.013795  49.329946
phwr        43.341564  59.618425

In [30]:
df.loc['enrichment', (algs, metlist)]

Algorithm     kNN Known                 kNN Unknown                \
Metric              MAE       MAE Std           MAE       MAE Std
RxtrType
pwr        1.374173e-03  1.457000e-02  1.750496e-03  1.651764e-02
bwr        2.422371e-03  2.047550e-02  2.381820e-03  2.031903e-02
phwr       8.871871e-18  3.010648e-17  8.491884e-18  2.950942e-17

Algorithm   DTree Known               DTree Unknown               MLL Known  \
Metric              MAE       MAE Std           MAE       MAE Std       MAE
RxtrType
pwr        4.898313e-04  1.100941e-02  5.498512e-04  9.454980e-03  0.005951
bwr        5.202133e-04  9.791509e-03  5.396236e-04  9.327373e-03  0.012285
phwr       7.006234e-15  5.151913e-15  1.012167e-14  3.189136e-15  0.000000

Algorithm           MLL Unknown
Metric      MAE Std         MAE   MAE Std
RxtrType
pwr        0.035731    0.006591  0.035804
bwr        0.053415    0.012362  0.053154
phwr       0.000000    0.000000  0.000000

### MAPE

In [31]:
metlist = ['MAPE', 'MAPE Std']
df.loc['burnup', (algs, metlist)]

Algorithm kNN Known           kNN Unknown           DTree Known            \
Metric         MAPE  MAPE Std        MAPE  MAPE Std        MAPE  MAPE Std
RxtrType
pwr        0.082176  0.374071    0.081673  0.359686    0.026736  0.184011
bwr        0.105152  0.484876    0.104371  0.480858    0.025465  0.193908
phwr       0.133420  0.486395    0.187409  0.600531    0.009345  0.144750

Algorithm DTree Unknown           MLL Known           MLL Unknown
Metric             MAPE  MAPE Std      MAPE  MAPE Std        MAPE  MAPE Std
RxtrType
pwr            0.036136  0.212410  0.243623  0.798753    0.249022  0.790005
bwr            0.027664  0.188711  0.397864  1.111716    0.398497  1.106976
phwr           0.027989  0.270266  0.286545  0.950060    0.286545  0.950060

In [32]:
df1.loc['cooling', (algs, metlist)]

Algorithm  kNN Known            DTree Known            MLL Known
Metric          MAPE   MAPE Std        MAPE   MAPE Std      MAPE  MAPE Std
RxtrType
pwr         6.473624  19.225063    1.499269   3.315384  1.545162  3.129007
bwr         9.182889  33.019719    1.555974   3.236128  2.065983  4.004970
phwr       13.776581  45.662816    4.511806  10.912314  2.295526  5.478989

In [33]:
df1.loc['enrichment', (algs, metlist)]

Algorithm     kNN Known                 DTree Known               MLL Known  \
Metric             MAPE      MAPE Std          MAPE      MAPE Std      MAPE
RxtrType
pwr        9.688038e-02  7.924717e-01  1.760600e-02  3.468262e-01  0.260529
bwr        1.242418e-01  8.569871e-01  2.039422e-02  3.332657e-01  0.455524
phwr       1.247802e-15  4.234386e-15  9.854057e-13  7.246010e-13  0.000000

Algorithm
Metric     MAPE Std
RxtrType
pwr        1.315801
bwr        1.711855
phwr       0.000000

### MedAE

In [34]:
metlist = ['MedAE', 'IQR_25', 'IQR_75']
df.loc['burnup', (algs, metlist)]

Algorithm kNN Known               kNN Unknown                 DTree Known  \
Metric        MedAE IQR_25 IQR_75       MedAE IQR_25 IQR_75         MedAE
RxtrType
pwr             0.0    0.0    0.0         0.0    0.0    0.0  2.091838e-11
bwr             0.0    0.0    0.0         0.0    0.0    0.0  3.274181e-11
phwr            0.0    0.0    0.0         0.0    0.0    0.0  2.728484e-12

Algorithm                             DTree Unknown                \
Metric           IQR_25        IQR_75         MedAE        IQR_25
RxtrType
pwr        3.637979e-12  9.094947e-11  1.455192e-11  4.547474e-13
bwr        3.637979e-12  1.127773e-10  2.069100e-11  1.818989e-12
phwr       9.094947e-13  5.456968e-12  1.818989e-12  0.000000e+00

Algorithm               MLL Known               MLL Unknown
Metric           IQR_75     MedAE IQR_25 IQR_75       MedAE IQR_25 IQR_75
RxtrType
pwr        5.820766e-11       0.0    0.0    0.0         0.0    0.0    0.0
bwr        8.731149e-11       0.0    0.0    0.0         0.0    0.0    0.0
phwr       3.637979e-12       0.0    0.0    0.0         0.0    0.0    0.0

In [35]:
df1.loc['cooling', (algs, metlist)]

Algorithm   kNN Known                        DTree Known                \
Metric          MedAE     IQR_25      IQR_75       MedAE        IQR_25
RxtrType
pwr         71.810502  29.587926  155.341371   16.246067  0.000000e+00
bwr         89.005141  35.866398  195.969240   19.082693  1.421085e-13
phwr       125.338030  49.054667  295.312107   47.301337  9.974437e+00

Algorithm              MLL Known
Metric         IQR_75      MedAE    IQR_25     IQR_75
RxtrType
pwr         48.440764  19.163441  3.855177  51.981369
bwr         48.393362  25.881617  8.573499  50.717955
phwr       122.514184  27.274034  4.466503  55.862568

In [36]:
df1.loc['enrichment', (algs, metlist)]

Algorithm kNN Known                 DTree Known                              \
Metric        MedAE IQR_25 IQR_75         MedAE        IQR_25        IQR_75
RxtrType
pwr             0.0    0.0    0.0  1.776357e-15  2.220446e-16  7.993606e-15
bwr             0.0    0.0    0.0  3.552714e-15  0.000000e+00  1.154632e-14
phwr            0.0    0.0    0.0  9.325873e-15  2.220446e-16  1.143530e-14

Algorithm MLL Known
Metric        MedAE IQR_25 IQR_75
RxtrType
pwr             0.0    0.0    0.0
bwr             0.0    0.0    0.0
phwr            0.0    0.0    0.0