In [2]:
import pandas as pd

In [16]:
base = '/mnt/researchdrive/BOX_INTERNAL/opotowsky/processed_results/'
sfco = 'sfcompo_mll_scikit_compare.pkl'
df = pd.read_pickle(base+sfco)

In [17]:
poserr = {'Neg MAE' : 'MAE', 'Neg MedAE' : 'MedAE', 'Neg MAPE' : 'MAPE', 
          'MedAE IQR_25' : 'IQR_25', 'MedAE IQR_75' : 'IQR_75',
          'Balanced Accuracy' : 'Bal Acc', 'Accuracy' : 'Acc'}
df.rename(columns=poserr, inplace=True)
err_list = ['MAE', 'MAPE', 'MedAE', 'QR_25', 'IQR_75']
df.loc[(['imputed-null', 'zero-null'], ['burnup', 'enrichment']), (['knn', 'dtree', 'mll'], err_list)] *= -1

# SFCOMPO Results

### Reactor Type

In [18]:
acc_list = ['Acc', 'Acc CI']
df.loc[(['imputed-null', 'zero-null'], 'reactor'), (['knn', 'dtree', 'mll'], acc_list)]

Algorithm                    knn               dtree                 mll  \
Metric                       Acc    Acc CI       Acc    Acc CI       Acc
NullHandling PredParam
imputed-null reactor    0.522772  0.022227  0.600000  0.021800  0.386139
zero-null    reactor    0.451485  0.022145  0.421782  0.021976  0.718812

Algorithm
Metric                    Acc CI
NullHandling PredParam
imputed-null reactor    0.021665
zero-null    reactor    0.020006

In [19]:
acc_list = ['Bal Acc', 'BalAcc CI']
df.loc[(['imputed-null', 'zero-null'], 'reactor'), (['knn', 'dtree', 'mll'], acc_list)]

Algorithm                    knn               dtree                 mll  \
Metric                   Bal Acc BalAcc CI   Bal Acc BalAcc CI   Bal Acc
NullHandling PredParam
imputed-null reactor    0.090122  0.012743  0.115501  0.014223  0.000000
zero-null    reactor    0.207605  0.018049  0.295921  0.020312  0.631419

Algorithm
Metric                 BalAcc CI
NullHandling PredParam
imputed-null reactor    0.000000
zero-null    reactor    0.021467

### Burnup

In [20]:
err_list = ['MAE', 'MAE Std']
df.loc[(['imputed-null', 'zero-null'], 'burnup'), (['knn', 'dtree', 'mll'], err_list)]

Algorithm                        knn                       dtree  \
Metric                           MAE       MAE Std           MAE
NullHandling PredParam
imputed-null burnup      9433.718488   8494.801751  10891.433122
zero-null    burnup     14875.237472  13392.796181  15182.662343

Algorithm                                      mll
Metric                       MAE Std           MAE       MAE Std
NullHandling PredParam
imputed-null burnup      9864.653647  13168.940290  10587.055692
zero-null    burnup     15817.366266   3532.898462   4232.458472

In [21]:
err_list = ['MAPE', 'MAPE Std']
df.loc[(['imputed-null', 'zero-null'], 'burnup'), (['knn', 'dtree', 'mll'], err_list)]

Algorithm                      knn                   dtree              \
Metric                        MAPE    MAPE Std        MAPE    MAPE Std
NullHandling PredParam
imputed-null burnup     102.822066  349.716345  113.512633  371.917203
zero-null    burnup      53.636249   33.699767   54.050509   43.256411

Algorithm                      mll
Metric                        MAPE    MAPE Std
NullHandling PredParam
imputed-null burnup     166.780306  434.520142
zero-null    burnup      13.623656   16.279853

In [22]:
err_list = ['MedAE', 'IQR_25', 'IQR_75']
df.loc[(['imputed-null', 'zero-null'], 'burnup'), (['knn', 'dtree', 'mll'], err_list)]

Algorithm                    knn                           dtree           \
Metric                     MedAE   IQR_25    IQR_75        MedAE   IQR_25
NullHandling PredParam
imputed-null burnup      7255.92 -1932.76  15474.17  8282.140000 -1910.80
zero-null    burnup     11470.53 -3501.24  23232.43  8794.263333 -1053.27

Algorithm                              mll
Metric                    IQR_75     MedAE   IQR_25    IQR_75
NullHandling PredParam
imputed-null burnup     18670.98  10835.92 -4500.00  19808.10
zero-null    burnup     27325.93   1702.65  -670.17   5037.41

### Enrichment

In [23]:
err_list = ['MAE', 'MAE Std']
df.loc[(['imputed-null', 'zero-null'], 'enrichment'), (['knn', 'dtree', 'mll'], err_list)]

Algorithm                     knn               dtree                 mll  \
Metric                        MAE   MAE Std       MAE   MAE Std       MAE
NullHandling PredParam
imputed-null enrichment  0.715253  0.678453  0.313949  0.312755  1.253970
zero-null    enrichment  1.670947  1.157118  0.360990  0.398903  0.492394

Algorithm
Metric                    MAE Std
NullHandling PredParam
imputed-null enrichment  0.887900
zero-null    enrichment  0.527925

In [24]:
err_list = ['MAPE', 'MAPE Std']
df.loc[(['imputed-null', 'zero-null'], 'enrichment'), (['knn', 'dtree', 'mll'], err_list)]

Algorithm                      knn                 dtree             \
Metric                        MAPE   MAPE Std       MAPE   MAPE Std
NullHandling PredParam
imputed-null enrichment  40.364444  76.595866  14.468137  31.417296
zero-null    enrichment  55.803637  34.058811  12.853581  16.873785

Algorithm                      mll
Metric                        MAPE    MAPE Std
NullHandling PredParam
imputed-null enrichment  66.019890  108.363809
zero-null    enrichment  17.139565   23.607935

In [25]:
err_list = ['MedAE', 'IQR_25', 'IQR_75']
df.loc[(['imputed-null', 'zero-null'], 'enrichment'), (['knn', 'dtree', 'mll'], err_list)]

Algorithm                 knn               dtree                 mll         \
Metric                  MedAE IQR_25 IQR_75 MedAE IQR_25 IQR_75 MedAE IQR_25
NullHandling PredParam
imputed-null enrichment  0.50  -0.17   1.13  0.22  -0.13  0.397  1.13  -0.57
zero-null    enrichment  2.02  -0.48   2.80  0.22  -0.13  0.451  0.35  -0.12

Algorithm
Metric                  IQR_75
NullHandling PredParam
imputed-null enrichment  1.704
zero-null    enrichment  0.850

# Intermediate results (where null values are imputed)
### Mean Abs Err

In [30]:
cols = ['kNN', 'kNN Std', 'DTree', 'DTree Std', 'MaxLL', 'MaxLL Std']
rows = ['Reactor Type Accuracy', 'Burnup Error [GWd/MTU]', 'Enrichment Error [%U235]']
blank = pd.DataFrame(index=rows, columns=cols)

In [29]:
sfco_mean_errs

                         kNN kNN Std DTree DTree Std  MaxLL MaxLL Std
Reactor Type Accuracy   0.13    0.49  0.07      0.48     -0      0.49
Burnup MAE [GWd/MTU]    9.54     8.6  7.44      8.58  12.57     10.47
Enrichment MAE [%U235]  0.77     0.7  0.56       0.6   1.22      0.85

### Median Abs Err

In [30]:
sfco_med_errs

                         kNN kNN Std DTree DTree Std MaxLL MaxLL Std
Reactor Type Accuracy   0.13    0.49  0.07      0.48    -0      0.49
Burnup MAE [GWd/MTU]    7.04    6.05  3.17      3.01  9.53      6.62
Enrichment MAE [%U235]  0.46     0.3  0.31      0.19  0.99      0.51

# Old results (where null values were 0)

In [6]:
sfco_errs

                          kNN kNN Std  DTree DTree Std MaxLL MaxLL Std
Reactor Type Accuracy    0.14    0.49   0.36       0.5  0.62      0.45
Burnup MAE [GWd/MTU]    15.17   13.16  14.03     15.21  3.46      3.99
Enrichment MAE [%U235]   1.48    1.08   0.33      0.37  0.48      0.54

In [107]:
sfco_errs #unbalanced accuracy

                          kNN kNN Std  DTree DTree Std MaxLL MaxLL Std
Reactor Type Accuracy    0.61    0.49   0.51       0.5  0.72      0.45
Burnup MAE [GWd/MTU]    15.17   13.16  14.03     15.21  3.46      3.99
Enrichment MAE [%U235]   1.48    1.08   0.33      0.37  0.48      0.54

In [101]:
import dataframe_image as dfi
dfi.export(sfco_errs, 'sfcoerrs.png')

## Saving code for comparing multiple trainset fracs

In [5]:
Algs = ['kNN', 'DTree']
cols = Algs + ['MaxLL']
cols

['kNN', 'DTree', 'MaxLL']

In [6]:
rxtr29 = pd.DataFrame(columns=cols)
for frac in fracs:
    scores29 = []
    for col in cols:
        if col in Algs:
            key = 'rxtr' + frac
            if 'kNN' in col:
                key = key + '_knn'
                scores29.append(accuracy_score(learn29[key]['TrueY'], learn29[key]['kNN']))
            else:
                key = key + '_dtree'
                scores29.append(accuracy_score(learn29[key]['TrueY'], learn29[key]['DTree']))
        else:
            if frac == mll_frac:
                scores29.append(accuracy_score(mll29['ReactorType'], mll29['pred_ReactorType']))
            else:
                scores29.append(np.nan)
    rxtr29.loc[frac] = scores29
print('Reactor Type, 29 Nuclides: \n')
rxtr29

Reactor Type, 29 Nuclides:

          kNN     DTree     MaxLL
1.0  0.613861  0.512871  0.718812

In [7]:
llparam = { 'burn' : ['Burnup', 'pred_Burnup'],
            'cool' : ['CoolingTime', 'pred_CoolingTime'],
            'enri' : ['Enrichment', 'pred_Enrichment'] }

In [8]:
def explained_variances(param):
    df29 = pd.DataFrame(columns=cols)
    for frac in fracs:
        scores29 = []
        for col in cols:
            if col in Algs:
                key = param + frac
                if 'kNN' in col:
                    key = key + '_knn'
                    scores29.append(explained_variance_score(learn29[key]['TrueY'], learn29[key]['kNN']))
                else:
                    key = key + '_dtree'
                    scores29.append(explained_variance_score(learn29[key]['TrueY'], learn29[key]['DTree']))
            else:
                if frac == mll_frac:
                    scores29.append(explained_variance_score(mll29[llparam[param][0]], mll29[llparam[param][1]]))
                else:
                    scores29.append(np.nan)
        df29.loc[frac] = scores29
    print(llparam[param][0] + ', ExpVar, 29 nuclides: \n')
    return df29

In [9]:
def mean_abs_error(param):
    df29 = pd.DataFrame(columns=cols)
    for frac in fracs:
        scores29 = []
        for col in cols:
            if col in Algs:
                key = param + frac
                if 'kNN' in col:
                    key = key + '_knn'
                    scores29.append(mean_absolute_error(learn29[key]['TrueY'], learn29[key]['kNN']))
                else:
                    key = key + '_dtree'
                    scores29.append(mean_absolute_error(learn29[key]['TrueY'], learn29[key]['DTree']))
            else:
                if frac == mll_frac:
                    scores29.append(mean_absolute_error(mll29[llparam[param][0]], mll29[llparam[param][1]]))
                else:
                    scores29.append(np.nan)
        df29.loc[frac] = scores29
    print(llparam[param][0] + ', MAE, 29 nuclides: \n')
    return df29

In [10]:
enri29 = mean_abs_error('enri')
enri29

Enrichment, MAE, 29 nuclides:

          kNN     DTree     MaxLL
1.0  1.477326  0.329612  0.484412

In [11]:
burn29 = mean_abs_error('burn')
burn29

Burnup, MAE, 29 nuclides:

              kNN         DTree        MaxLL
1.0  15172.076809  14027.794601  3462.108343

In [9]:
enri29 = explained_variances('enri')
enri29

Enrichment, ExpVar, 29 nuclides:

          kNN     DTree     MaxLL
0.1 -0.567388  0.655351       NaN
0.3 -0.585302  0.709187       NaN
1.0 -0.561107  0.721632  0.557847

In [11]:
burn29 = explained_variances('burn')
burn29

Burnup, ExpVar, 29 nuclides:

          kNN     DTree     MaxLL
0.1  0.424760  0.195675       NaN
0.3  0.425014  0.186354       NaN
1.0  0.435253  0.242814  0.919398