In [25]:
import pandas as pd
import dataframe_image as dfi

In [7]:
base = '/mnt/researchdrive/BOX_INTERNAL/opotowsky/processed_results/'
sfco = 'sfcompo_mll_scikit_compare.pkl'
df = pd.read_pickle(base+sfco)

In [8]:
accs = {'Balanced Accuracy' : 'Bal Acc', 'Accuracy' : 'Acc'}
df.rename(columns=accs, inplace=True)

In [4]:
nulls = ['imputed-null', 'zero-null']
algs = ['knn', 'dtree', 'mll']

# SFCOMPO Results

### Reactor Type

In [9]:
acc_list = ['Acc', 'Acc CI']
df1 = df.loc[(nulls, 'reactor'), (algs, acc_list)]
acc_list = ['Bal Acc', 'BalAcc CI']
df2 = df.loc[(nulls, 'reactor'), (algs, acc_list)]
df3 = pd.concat([df1, df2], axis=1)
df3

Algorithm                    knn               dtree                 mll  \
Metric                       Acc    Acc CI       Acc    Acc CI       Acc
NullHandling PredParam
imputed-null reactor    0.522772  0.022227  0.600000  0.021800  0.386139
zero-null    reactor    0.451485  0.022145  0.421782  0.021976  0.718812

Algorithm                              knn               dtree            \
Metric                    Acc CI   Bal Acc BalAcc CI   Bal Acc BalAcc CI
NullHandling PredParam
imputed-null reactor    0.021665  0.090122  0.012743  0.115501  0.014223
zero-null    reactor    0.020006  0.207605  0.018049  0.295921  0.020312

Algorithm                    mll
Metric                   Bal Acc BalAcc CI
NullHandling PredParam
imputed-null reactor    0.000000  0.000000
zero-null    reactor    0.631419  0.021467

In [27]:
acc_list = ['Acc', 'Bal Acc']
df1 = df.loc[(nulls, 'reactor'), (algs, acc_list)].round(2)
df1

Algorithm                knn         dtree           mll
Metric                   Acc Bal Acc   Acc Bal Acc   Acc Bal Acc
NullHandling PredParam
imputed-null reactor    0.52    0.09  0.60    0.12  0.39    0.00
zero-null    reactor    0.45    0.21  0.42    0.30  0.72    0.63

In [28]:
dfi.export(df1, './plots/sfcompo_reactor.png')

### Burnup

In [17]:
err_list = ['MAE', 'MAE Std']
df1 = df.loc[(nulls, 'burnup'), (algs, err_list)]
err_list = ['MAPE', 'MAPE Std']
df2 = df.loc[(nulls, 'burnup'), (algs, err_list)]
err_list = ['MedAE', 'IQR_25', 'IQR_75']
df3 = df.loc[(nulls, 'burnup'), (algs, err_list)]

In [29]:
err_list = ['MAE', 'MedAE', 'MAPE']
df1 = df.loc[(nulls, 'burnup'), (algs, err_list)].round(2)
df1

Algorithm                    knn                       dtree                   \
Metric                       MAE     MedAE    MAPE       MAE    MedAE    MAPE
NullHandling PredParam
imputed-null burnup      9433.72   7255.92  102.82  10891.43  8282.14  113.51
zero-null    burnup     14875.24  11470.53   53.64  15182.66  8794.26   54.05

Algorithm                    mll
Metric                       MAE     MedAE    MAPE
NullHandling PredParam
imputed-null burnup     13168.94  10835.92  166.78
zero-null    burnup      3532.90   1702.65   13.62

In [30]:
dfi.export(df1, './plots/sfcompo_burnup.png')

### Enrichment

In [22]:
err_list = ['MAE', 'MAE Std']
df1 = df.loc[(nulls, 'enrichment'), (algs, err_list)]
err_list = ['MAPE', 'MAPE Std']
df2 = df.loc[(nulls, 'enrichment'), (algs, err_list)]
err_list = ['MedAE', 'IQR_25', 'IQR_75']
df3 = df.loc[(nulls, 'enrichment'), (algs, err_list)]

In [31]:
err_list = ['MAE', 'MedAE', 'MAPE']
df1 = df.loc[(nulls, 'enrichment'), (algs, err_list)].round(2)
df1

Algorithm                 knn              dtree                mll        \
Metric                    MAE MedAE   MAPE   MAE MedAE   MAPE   MAE MedAE
NullHandling PredParam
imputed-null enrichment  0.72  0.50  40.36  0.31  0.22  14.47  1.25  1.13
zero-null    enrichment  1.67  2.02  55.80  0.36  0.22  12.85  0.49  0.35

Algorithm
Metric                    MAPE
NullHandling PredParam
imputed-null enrichment  66.02
zero-null    enrichment  17.14

In [32]:
dfi.export(df1, './plots/sfcompo_enrichment.png')

# Intermediate results (where null values are imputed)
### Mean Abs Err

In [30]:
cols = ['kNN', 'kNN Std', 'DTree', 'DTree Std', 'MaxLL', 'MaxLL Std']
rows = ['Reactor Type Accuracy', 'Burnup Error [GWd/MTU]', 'Enrichment Error [%U235]']
blank = pd.DataFrame(index=rows, columns=cols)

In [29]:
sfco_mean_errs

                         kNN kNN Std DTree DTree Std  MaxLL MaxLL Std
Reactor Type Accuracy   0.13    0.49  0.07      0.48     -0      0.49
Burnup MAE [GWd/MTU]    9.54     8.6  7.44      8.58  12.57     10.47
Enrichment MAE [%U235]  0.77     0.7  0.56       0.6   1.22      0.85

### Median Abs Err

In [30]:
sfco_med_errs

                         kNN kNN Std DTree DTree Std MaxLL MaxLL Std
Reactor Type Accuracy   0.13    0.49  0.07      0.48    -0      0.49
Burnup MAE [GWd/MTU]    7.04    6.05  3.17      3.01  9.53      6.62
Enrichment MAE [%U235]  0.46     0.3  0.31      0.19  0.99      0.51

# Old results (where null values were 0)

In [6]:
sfco_errs

                          kNN kNN Std  DTree DTree Std MaxLL MaxLL Std
Reactor Type Accuracy    0.14    0.49   0.36       0.5  0.62      0.45
Burnup MAE [GWd/MTU]    15.17   13.16  14.03     15.21  3.46      3.99
Enrichment MAE [%U235]   1.48    1.08   0.33      0.37  0.48      0.54

In [107]:
sfco_errs #unbalanced accuracy

                          kNN kNN Std  DTree DTree Std MaxLL MaxLL Std
Reactor Type Accuracy    0.61    0.49   0.51       0.5  0.72      0.45
Burnup MAE [GWd/MTU]    15.17   13.16  14.03     15.21  3.46      3.99
Enrichment MAE [%U235]   1.48    1.08   0.33      0.37  0.48      0.54

In [101]:
import dataframe_image as dfi
dfi.export(sfco_errs, 'sfcoerrs.png')

## Saving code for comparing multiple trainset fracs

In [5]:
Algs = ['kNN', 'DTree']
cols = Algs + ['MaxLL']
cols

['kNN', 'DTree', 'MaxLL']

In [6]:
rxtr29 = pd.DataFrame(columns=cols)
for frac in fracs:
    scores29 = []
    for col in cols:
        if col in Algs:
            key = 'rxtr' + frac
            if 'kNN' in col:
                key = key + '_knn'
                scores29.append(accuracy_score(learn29[key]['TrueY'], learn29[key]['kNN']))
            else:
                key = key + '_dtree'
                scores29.append(accuracy_score(learn29[key]['TrueY'], learn29[key]['DTree']))
        else:
            if frac == mll_frac:
                scores29.append(accuracy_score(mll29['ReactorType'], mll29['pred_ReactorType']))
            else:
                scores29.append(np.nan)
    rxtr29.loc[frac] = scores29
print('Reactor Type, 29 Nuclides: \n')
rxtr29

Reactor Type, 29 Nuclides:

          kNN     DTree     MaxLL
1.0  0.613861  0.512871  0.718812

In [7]:
llparam = { 'burn' : ['Burnup', 'pred_Burnup'],
            'cool' : ['CoolingTime', 'pred_CoolingTime'],
            'enri' : ['Enrichment', 'pred_Enrichment'] }

In [8]:
def explained_variances(param):
    df29 = pd.DataFrame(columns=cols)
    for frac in fracs:
        scores29 = []
        for col in cols:
            if col in Algs:
                key = param + frac
                if 'kNN' in col:
                    key = key + '_knn'
                    scores29.append(explained_variance_score(learn29[key]['TrueY'], learn29[key]['kNN']))
                else:
                    key = key + '_dtree'
                    scores29.append(explained_variance_score(learn29[key]['TrueY'], learn29[key]['DTree']))
            else:
                if frac == mll_frac:
                    scores29.append(explained_variance_score(mll29[llparam[param][0]], mll29[llparam[param][1]]))
                else:
                    scores29.append(np.nan)
        df29.loc[frac] = scores29
    print(llparam[param][0] + ', ExpVar, 29 nuclides: \n')
    return df29

In [9]:
def mean_abs_error(param):
    df29 = pd.DataFrame(columns=cols)
    for frac in fracs:
        scores29 = []
        for col in cols:
            if col in Algs:
                key = param + frac
                if 'kNN' in col:
                    key = key + '_knn'
                    scores29.append(mean_absolute_error(learn29[key]['TrueY'], learn29[key]['kNN']))
                else:
                    key = key + '_dtree'
                    scores29.append(mean_absolute_error(learn29[key]['TrueY'], learn29[key]['DTree']))
            else:
                if frac == mll_frac:
                    scores29.append(mean_absolute_error(mll29[llparam[param][0]], mll29[llparam[param][1]]))
                else:
                    scores29.append(np.nan)
        df29.loc[frac] = scores29
    print(llparam[param][0] + ', MAE, 29 nuclides: \n')
    return df29

In [10]:
enri29 = mean_abs_error('enri')
enri29

Enrichment, MAE, 29 nuclides:

          kNN     DTree     MaxLL
1.0  1.477326  0.329612  0.484412

In [11]:
burn29 = mean_abs_error('burn')
burn29

Burnup, MAE, 29 nuclides:

              kNN         DTree        MaxLL
1.0  15172.076809  14027.794601  3462.108343

In [9]:
enri29 = explained_variances('enri')
enri29

Enrichment, ExpVar, 29 nuclides:

          kNN     DTree     MaxLL
0.1 -0.567388  0.655351       NaN
0.3 -0.585302  0.709187       NaN
1.0 -0.561107  0.721632  0.557847

In [11]:
burn29 = explained_variances('burn')
burn29

Burnup, ExpVar, 29 nuclides:

          kNN     DTree     MaxLL
0.1  0.424760  0.195675       NaN
0.3  0.425014  0.186354       NaN
1.0  0.435253  0.242814  0.919398