In [1]:
from sklearn.preprocessing import scale
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score

import pandas as pd
import numpy as np

In [2]:
from learn.tools import splitXY, random_error

In [3]:
train = '~/sims_n_results/final_sims_nov2020/not-scaled_nuc29.pkl'
trainXY = pd.read_pickle(train)
trainXY.reset_index(inplace=True, drop=True)
trainXY = trainXY.sample(frac=0.05)
trainX_unscaled, rY, cY, eY, bY = splitXY(trainXY)

# Reactor

In [19]:
trainY = rY
k = 2
alg = 'knn'
CV = 3
kfold = StratifiedKFold(n_splits=CV, shuffle=True)
scores = 'accuracy'
rxtr_param = 'reactor'

## Minkowski, p=1, 2, 5, 10

In [4]:
init = KNeighborsClassifier(n_neighbors=k, weights='distance', p=1, metric='minkowski')
csv_name = 'mink1'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
mink = pd.read_csv(csv_name + '_random_error.csv')
mink

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.967966     0.000966
1           1              5  0.930903     0.002067
2           2             10  0.897659     0.000704
3           3             20  0.826104     0.003496

In [20]:
init = KNeighborsClassifier(n_neighbors=k, weights='uniform', p=1, metric='minkowski')
csv_name = 'mink1'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
mink = pd.read_csv(csv_name + '_random_error.csv')
mink

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.958701     0.000244
1           1              5  0.921637     0.002776
2           2             10  0.891645     0.004406
3           3             20  0.836844     0.002409

In [5]:
init = KNeighborsClassifier(n_neighbors=k, weights='distance', p=2, metric='minkowski')
csv_name = 'mink2'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
euc = pd.read_csv(csv_name + '_random_error.csv')
euc

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.952044     0.003982
1           1              5  0.911577     0.002472
2           2             10  0.882153     0.002280
3           3             20  0.821073     0.002686

In [6]:
init = KNeighborsClassifier(n_neighbors=k, weights='distance', p=5, metric='minkowski')
csv_name = 'mink5'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
mink = pd.read_csv(csv_name + '_random_error.csv')
mink

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.946409     0.002241
1           1              5  0.889906     0.003608
2           2             10  0.861049     0.002715
3           3             20  0.807912     0.003987

In [7]:
init = KNeighborsClassifier(n_neighbors=k, weights='distance', p=10, metric='minkowski')
csv_name = 'mink10'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
mink = pd.read_csv(csv_name + '_random_error.csv')
mink

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.943119     0.001645
1           1              5  0.881283     0.001460
2           2             10  0.859612     0.002315
3           3             20  0.796453     0.002960

## SciPy Spatial Distances

In [8]:
init = KNeighborsClassifier(n_neighbors=k, weights='distance', metric='correlation')
csv_name = 'corr'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
corr = pd.read_csv(csv_name + '_random_error.csv')
corr

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.951099     0.001811
1           1              5  0.906282     0.003853
2           2             10  0.875458     0.002292
3           3             20  0.818691     0.002646

In [9]:
init = KNeighborsClassifier(n_neighbors=k, weights='distance', metric='cosine')
csv_name = 'cos'
random_error(trainX_unscaled, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
corr = pd.read_csv(csv_name + '_random_error.csv')
corr

   Unnamed: 0  Percent Error   kNN Acc  kNN Acc Std
0           0              0  0.952952     0.001741
1           1              5  0.907152     0.000937
2           2             10  0.875232     0.003111
3           3             20  0.818085     0.001678

## Inverse MLL (unable to get this to work)

In [ ]:
def like_calc(x, y):
    #x = x[y>0]
    #y = y[y>0]
    like = np.prod(stats.norm.pdf(x, loc=y))
    # scikit rules: zero must be zero distance
    inv_like = 1 / like
    return inv_like

# Burnup

In [10]:
trainX = scale(trainX_unscaled)
trainY = bY
k = 2
alg = 'knn'
CV = 3
kfold = KFold(n_splits=CV, shuffle=True)
scores = ['explained_variance', 'neg_mean_absolute_error', 'neg_root_mean_squared_error']
rxtr_param = 'burnup'

In [15]:
init = KNeighborsRegressor(n_neighbors=k, weights='distance', p=1, metric='minkowski')
csv_name = 'mink1'
random_error(trainX, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
mink = pd.read_csv(csv_name + '_random_error.csv')
mink

,Unnamed: 0,Percent Error,kNN ExpVar,kNN ExpVar Std,kNN MAE,kNN MAE Std,kNN RMSE,kNN RMSE Std
0,0,0,0.999200,0.000018,-288.849447,3.818939,-576.650282,6.625725
1,1,5,0.999000,0.000018,-356.045375,6.684584,-644.748361,8.907295
2,2,10,0.998703,0.000080,-434.346535,8.913161,-734.319199,22.489663
3,3,20,0.997626,0.000034,-618.495629,6.009158,-995.504615,12.953213

In [18]:
init = KNeighborsRegressor(n_neighbors=k, weights='uniform', p=1, metric='minkowski')
csv_name = 'mink1'
random_error(trainX, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
mink = pd.read_csv(csv_name + '_random_error.csv')
mink

,Unnamed: 0,Percent Error,kNN ExpVar,kNN ExpVar Std,kNN MAE,kNN MAE Std,kNN RMSE,kNN RMSE Std
0,0,0,0.999115,0.000016,-320.105707,3.100313,-606.513061,6.723328
1,1,5,0.998948,0.000071,-372.948596,10.133418,-660.761512,23.689686
2,2,10,0.998684,0.000020,-441.283633,3.710439,-739.599486,5.912931
3,3,20,0.997590,0.000099,-624.645038,11.042747,-1002.240224,26.404319

In [16]:
init = KNeighborsRegressor(n_neighbors=k, weights='distance', p=2, metric='minkowski')
csv_name = 'mink2'
random_error(trainX, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
euc = pd.read_csv(csv_name + '_random_error.csv')
euc

,Unnamed: 0,Percent Error,kNN ExpVar,kNN ExpVar Std,kNN MAE,kNN MAE Std,kNN RMSE,kNN RMSE Std
0,0,0,0.998582,0.000019,-446.627037,3.174760,-768.225108,6.021426
1,1,5,0.998435,0.000022,-477.487320,5.876389,-806.668014,6.548705
2,2,10,0.998226,0.000064,-526.550888,9.044605,-858.962638,17.761100
3,3,20,0.997177,0.000088,-702.529265,7.335824,-1085.086049,18.024599

In [17]:
init = KNeighborsRegressor(n_neighbors=k, weights='distance', metric='correlation')
csv_name = 'corr'
random_error(trainX, trainY, alg, init, kfold, scores, csv_name, rxtr_param)
corr = pd.read_csv(csv_name + '_random_error.csv')
corr

,Unnamed: 0,Percent Error,kNN ExpVar,kNN ExpVar Std,kNN MAE,kNN MAE Std,kNN RMSE,kNN RMSE Std
0,0,0,0.995113,0.000123,-757.544082,14.895450,-1425.609987,24.607607
1,1,5,0.994933,0.000013,-801.797424,3.609601,-1451.106756,4.998066
2,2,10,0.993741,0.000045,-927.143991,2.866700,-1612.498111,1.760473
3,3,20,0.989346,0.000435,-1274.580973,16.374241,-2103.110126,37.690157