In [1]:
import pandas as pd
from mll_calc.mll_pred import format_XY

In [4]:
lbls = ['ReactorType', 'CoolingTime', 'Enrichment', 'Burnup', 'OrigenReactor']
nonlbls = ['AvgPowerDensity', 'ModDensity', 'UiWeight']

train_pkl = '~/sims_n_results/final_sims_nov2020/not-scaled_nuc29.pkl'
XY = format_XY(train_pkl)
#XY = convert_g_to_mgUi(XY, lbls+nonlbls)

sfco_pkl = '~/sfcompo/format_clean/sfcompo_nuc29.pkl'
sfco = pd.read_pickle(sfco_pkl)
sfco.shape

(505, 34)

In [5]:
XY.shape

(528480, 37)

In [7]:
XY.columns

Index(['AvgPowerDensity', 'Burnup', 'CoolingTime', 'Enrichment', 'ModDensity',
       'OrigenReactor', 'ReactorType', 'UiWeight', 'am241', 'am242m', 'am243',
       'cm242', 'cm244', 'cs134', 'cs137', 'eu154', 'nd143', 'nd144', 'nd145',
       'nd146', 'nd148', 'nd150', 'np237', 'pu238', 'pu239', 'pu240', 'pu241',
       'pu242', 'sm147', 'sm149', 'sm150', 'sm151', 'sm152', 'u234', 'u235',
       'u236', 'u238'],
      dtype='object')

# Trainset pkls

### Good

In [8]:
gidx = 470037
XY.iloc[[gidx]]

,AvgPowerDensity,Burnup,CoolingTime,Enrichment,ModDensity,OrigenReactor,ReactorType,UiWeight,am241,am242m,...,pu242,sm147,sm149,sm150,sm151,sm152,u234,u235,u236,u238
470037,41.0,1878.95,6878.110557,5.4,0.71,s18x18,pwr,1,1.071,0.000006,...,0.01683,27.28,3.888,10.32,3.923,4.715,348.8,51710.0,630.0,944500.0

In [10]:
XY.iloc[[gidx]].to_pickle('../mll_calc/htc_files/train_good.pkl')

### Bad

In [9]:
bidx = 230410
XY.iloc[[bidx]]

,AvgPowerDensity,Burnup,CoolingTime,Enrichment,ModDensity,OrigenReactor,ReactorType,UiWeight,am241,am242m,...,pu242,sm147,sm149,sm150,sm151,sm152,u234,u235,u236,u238
230410,22.0,6085.43,698.65191,1.36,0.7,atrium10x10-9,bwr,1,21.45,0.01952,...,25.54,33.13,1.648,49.01,3.789,28.25,308.9,8541.0,1018.0,980200.0

In [11]:
XY.iloc[[bidx]].to_pickle('../mll_calc/htc_files/train_bad.pkl')

# Sfcompo pkls

### Good

In [13]:
# TMI-1|NJ070G|O13|S7
gidx = 328
sfco.iloc[[gidx]]

,Burnup,CoolingTime,Enrichment,OrigenReactor,ReactorType,am241,am242m,am243,cm242,cm244,...,pu242,sm147,sm149,sm150,sm151,sm152,u234,u235,u236,u238
TMI-1|NJ070G|O13|S7,22800.0,0.0,4.66,Three Mile Island-1_PWR,pwr,0.1626,0.000316,0.01607,0.000007,0.002462,...,0.1447,0.1748,0.003975,0.1936,0.01269,0.0796,0.343,23.78,4.219,0.0

In [14]:
sfco.iloc[[gidx]].to_pickle('../mll_calc/htc_files/sfco_good.pkl')

### Bad

In [15]:
# MON-1|MTB099|F6|S4
bidx = 168
sfco.iloc[[bidx]]

,Burnup,CoolingTime,Enrichment,OrigenReactor,ReactorType,am241,am242m,am243,cm242,cm244,...,pu242,sm147,sm149,sm150,sm151,sm152,u234,u235,u236,u238
MON-1|MTB099|F6|S4,44100.0,0.0,2.87,Monticello-1_BWR,bwr,0.0,0.0,0.0,0.02877,0.0,...,0.878,0.0,0.0,0.0,0.0,0.0,0.1021,4.269,4.225,933.7

In [16]:
sfco.iloc[[bidx]].to_pickle('../mll_calc/htc_files/sfco_bad.pkl')